
.tarefas {
    margin-top: 30px;
}


.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 10px 0; 
    cursor: pointer;
    transition: all 500ms;
}

.tarefas li:hover {
    background-color: #51c5de;
}


.tarefas li .edit {
    margin-right: 20px;
    color: #51c5de;
}


.tarefas li .delete {
    margin-right: 20px;
    color: #f04c64;
}

.tarefas li:hover .delete, 
.tarefas li:hover .edit{
    color: black;
    transition: all 500ms;
    
}


.tarefas li span {
    display: flex;
    align-items: center;
}